{% extends '::base.html.twig' %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset('bundles/tttsmokeless/js/3rd-party/jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/tttsmokeless/js/3rd-party/jquery-ui-1.10.0.custom.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/tttsmokeless/js/3rd-party/json2.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/tttsmokeless/js/3rd-party/underscore-min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/tttsmokeless/js/3rd-party/backbone-min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/tttsmokeless/js/lib/fb-helper.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/tttsmokeless/js/app.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/tttsmokeless/js/models/user.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/tttsmokeless/js/views/form.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/tttsmokeless/js/views/login.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/tttsmokeless/js/views/progress.js') }}"></script>
{% endblock %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/tttsmokeless/css/jquery-ui-1.10.0.custom.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/tttsmokeless/css/screen.css') }}">
{% endblock %}

{% block body %}
<div id="fb-root"></div>

    <script>
      window.fbAsyncInit = function() {
        FB.init({
          appId      : '555574414453799',
          channelUrl : 'channel',
          status     : true,
          cookie     : true,
          xfbml      : true
        });

        $(document).trigger('fb-ready');
      };

      // Load the SDK Asynchronously
      (function(d){
         var js, id = 'facebook-jssdk'; if (d.getElementById(id)) {return;}
         js = d.createElement('script'); js.id = id; js.async = true;
         js.src = '//connect.facebook.net/en_US/all.js';
         d.getElementsByTagName('head')[0].appendChild(js);
       }(document));
    </script>


    <header>
        {% block header %}{% endblock %}
    </header>
    <section id="main">
        {% block section %}{% endblock %}
    </section>
    <footer>
        {% block footer %}{% endblock %}
    </footer>
{% endblock %}